* {
  margin: 0;
  box-sizing: border-box;
}

header {
  background-image: url(../assets/images/bg2.png);
  height: 325vh;
}

.main-div {
  padding-top: 3%;
  width: 90%;
  margin: auto;
}

.line {
  background-color: rgb(46, 38, 109);
}

.nav-div {
  width: 90%;
  margin: auto;
}

.nav-div1 {
  margin-top: -18px;
  color: rgb(46, 38, 109);
}

.sub-div {
  background-image: url(../assets/images/Untitled\ design\ \(1\).png);
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
  background-color: rgb(24, 27, 36);
  height: 65vh;
  position: relative;
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: right;
  padding-top: 4%;
  gap: 4%;
  list-style-type: none;
  text-decoration: none;
}

.nav-items li {
  text-decoration: none;
  color: rgb(46, 38, 109);
}

.hero-div {
  padding-top: 15%;
  width: 90%;
  margin: auto;
}

.hero-div h1 {
  color: rgb(46, 38, 109);
  font-size: 3rem;
  font-weight: 100;
}

.about {
  color: rgb(46, 38, 109);
}

.img_box {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.sub-div:before {
  content: "";
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
  background-repeat: repeat;
  opacity: 0.12;
  position: absolute;
  width: 90%;
  height: 65vh;
  margin: auto;
  inset: 0;
  pointer-events: none;
}

.sub-div1 {
  background-color: rgb(25, 31, 43);
  height: 65vh;
  position: relative;
}

.sub-div1:before {
  content: "";
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
  background-repeat: repeat;
  opacity: 0.12;
  position: absolute;
  width: 90%;
  height: 50vh;
  margin: auto;
  inset: 0;
  pointer-events: none;
}

.sub-div2 {
  width: 80%;
  margin: auto;
  height: 50vh;
}

.sub-div3 {
  width: 80%;
  margin: auto;
  color: rgb(199, 199, 192);
}

.sub-div4 {
  width: 100%;
  margin: auto;
  background-color: rgb(24, 27, 36);
  height: 100vh;
  position: relative;
}

.skill {
  width: 80%;
  margin: auto;
  color: rgb(46, 38, 109);
}

.sub-div4:before {
  content: "";
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
  background-repeat: repeat;
  opacity: 0.12;
  position: absolute;
  width: 90%;
  height: 100vh;
  margin: auto;
  inset: 0;
  pointer-events: none;
}

.sub-div5 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  width: 60%;
  margin: auto;
}

.sub-div6 {
  background-color: rgb(35, 41, 52);
  color: rgb(199, 199, 192);
  padding: 3%;
  box-shadow: 0 5px 5px 0 rgb(0 0 0 / 0.2), 0 5px 5px -1px rgb(0 0 0 / 0.2);
}

.sub-div6 h3 {
  width: 90%;
  margin: auto;
}

.sub-div6 p {
  width: 90%;
  margin: auto;
}

.sub-div7 {
  background-image: url(../assets/images/Untitled\ design2.jpg);
  background-color: rgb(35, 43, 52);
  height: 65vh;
}

/* .sub-div7:before {
  content: "";
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
  background-repeat: repeat;
  opacity: 0.12;
  position: absolute;
  width: 90%;
  height: 55vh;
  margin: auto;
} */

.sub-div8 {
  display: flex;
  width: 70%;
  gap: 5%;
  margin: auto;
}

.projects {
  width: 80%;
  margin: auto;
  color: rgb(46, 38, 109);
}

.sub-div9 {
  background-image: url(../assets/images/footerbg.jpg);
  background-color: rgb(30, 33, 42);
  box-shadow: 0 5px 5px 0 rgb(0 0 0 / 0.2), 0 5px 5px -1px rgb(0 0 0 / 0.2);
  width: 50%;
  padding: 3%;
}

.sub-div9 button {
  display: flex;
  padding: 5%;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: rgb(46, 38, 109);
  border: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.sub-div9 button:hover {
  background-color: rgb(24, 27, 36);
  border: solid 1px;
  border-color: rgb(46, 38, 109);
  color: rgb(46, 38, 109);
}

.sub-div9 button:active {
  background-color: rgb(46, 38, 109);
  opacity: 0.1;
  border: solid 1px;
  border-color: rgb(46, 38, 109);
  color: black;
}

.sub-div9 h3 {
  width: 90%;
  margin: auto;
  color: rgb(211, 200, 200);
}

.sub-div9 p {
  width: 90%;
  margin: auto;
  color: rgb(211, 200, 200);
}

.main-footer {
  width: 100%;
  margin: auto;
  background-image: url(../assets/images/footerbg.jpg);
  height: 32vh;
}

.sub-footer {
  width: 80%;
  margin: auto;
  padding-top: 2%;
}

.sub-footer1 {
  display: flex;
  gap: 40%;
}

.sub-footer2 {
  color: rgb(211, 200, 200);
}

.btn {
  padding: 40%;
  padding-left: 55%;
  padding-right: 55%;
  background-color: rgb(46, 38, 109);
  border: none;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.btn:hover {
  background-color: rgb(24, 27, 36);
  border: solid 1px;
  border-color: rgb(46, 38, 109);;
  color: rgb(46, 38, 109);;
}

.btn:active {
  background-color: rgb(46, 38, 109);;
  opacity: 0.1;
  border: solid 1px;
  border-color: rgb(46, 38, 109);;
  color: black;
}

.btn a:hover {
  color: rgb(46, 38, 109);;
}

.socials {
  display: flex;
  flex-direction: row;
  padding-top: 5%;
  justify-content: right;
  gap: 3%;
  margin-right: 5%;
}

.footer-img:hover {
  background-color: rgb(46, 38, 109);
}

/* Global helpers */
html, body {
  width: 100%;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

/* Responsive breakpoints */

/* Large tablets/desktops */
@media (max-width: 1200px) {
  .sub-div5 {
    width: 80%;
    grid-template-columns: repeat(3, 1fr);
  }

  header {
    height: auto;
  }
}

/* Tablets */
@media (max-width: 992px) {
  .nav-items {
    justify-content: center;
    gap: 2%;
    flex-wrap: wrap;
  }

  .nav-div1 {
    text-align: center;
    margin-top: 8px;
  }

  .hero-div h1 {
    font-size: 2.4rem;
    text-align: center;
  }

  .img_box {
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
  }

  .sub-div5 {
    grid-template-columns: repeat(2, 1fr);
    width: 85%;
  }

  .sub-div8 {
    width: 85%;
    gap: 24px;
  }

  .sub-div9 {
    width: 60%;
  }

  .main-footer {
    height: auto;
    padding: 24px 0;
  }

  .sub-footer1 {
    gap: 24px;
    align-items: center;
  }
}

/* Small tablets/large phones */
@media (max-width: 768px) {
  header {
    height: auto;
  }

  .sub-div,
  .sub-div1,
  .sub-div4,
  .sub-div7 {
    height: auto;
    padding: 40px 0;
    background-size: cover;
  }

  .sub-div:before,
  .sub-div1:before,
  .sub-div4:before {
    height: 100%;
    width: 100%;
  }

  .hero-div {
    padding-top: 12%;
  }

  .hero-div h1 {
    font-size: 2rem;
  }

  .sub-div2,
  .sub-div3,
  .skill,
  .projects {
    width: 90%;
  }

  .sub-div5 {
    grid-template-columns: 1fr 1fr;
    width: 90%;
  }

  .sub-div8 {
    flex-direction: column;
    width: 90%;
  }

  .sub-div9 {
    width: 100%;
  }

  .sub-footer1 {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .btn {
    padding: 12px 24px;
  }

  .socials {
    justify-content: center;
    margin-right: 0;
    padding-bottom: 16px;
  }
}

/* Phones */
@media (max-width: 576px) {
  .nav-items {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 16px;
  }

  .hero-div h1 {
    font-size: 1.8rem;
  }

  .img_box img {
    width: 44px;
  }

  .sub-div5 {
    grid-template-columns: 1fr;
  }

  .sub-div6 {
    padding: 16px;
  }

  .projects {
    text-align: center;
  }
}

/* Small phones */
@media (max-width: 400px) {
  .hero-div h1 {
    font-size: 1.6rem;
  }

  .sub-footer2 h2 {
    font-size: 1.1rem;
  }
}