* {
  margin: 0%;
}

header {
  background-image: url(../assets/images/bg1.jpg);
  height: 310vh;
}

.main-div {
  padding-top: 3%;
  width: 90%;
  margin: auto;
}

.line {
  background-color: rgb(255, 121, 74);
}

.nav-div {
  width: 90%;
  margin: auto;
}

.nav-div1 {
  margin-top: -18px;
  color: rgb(199, 199, 192);
}

.sub-div {
  background-color: rgb(24, 27, 36);
  height: 65vh;
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: right;
  padding-top: 4%;
  gap: 4%;
  list-style-type: none;
  text-decoration: none;
}

.nav-items li {
  text-decoration: none;
  color: rgb(199, 199, 192);
}

.hero-div {
  padding-top: 15%;
  width: 90%;
  margin: auto;
}

.hero-div h1 {
  color: rgb(199, 199, 192);
  font-size: 3rem;
  font-weight: 100;
}

.about {
  color: rgb(255, 121, 74);
}

.img_box {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.sub-div:before {
  content: "";
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
  background-repeat: repeat;
  opacity: 0.12;
  position: absolute;
  width: 90%;
  height: 65vh;
  margin: auto;
}

.sub-div1 {
  background-color: rgb(25, 31, 43);
  height: 65vh;
}

.sub-div1:before {
  content: "";
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
  background-repeat: repeat;
  opacity: 0.12;
  position: absolute;
  width: 90%;
  height: 50vh;
  margin: auto;
}

.sub-div2 {
  width: 80%;
  margin: auto;
  height: 50vh;
}

.sub-div3 {
  width: 80%;
  margin: auto;
  color: rgb(199, 199, 192);
}

.sub-div4 {
  width: 100%;
  margin: auto;
  background-color: rgb(24, 27, 36);
  height: 100vh;
}

.skill {
  width: 80%;
  margin: auto;
  color: rgb(255, 121, 74);
}

.sub-div4:before {
  content: "";
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
  background-repeat: repeat;
  opacity: 0.12;
  position: absolute;
  width: 90%;
  height: 100vh;
  margin: auto;
}

.sub-div5 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  width: 60%;
  margin: auto;
}

.sub-div6 {
  background-color: rgb(35, 41, 52);
  color: rgb(199, 199, 192);
  padding: 3%;
  box-shadow: 0 5px 5px 0 rgb(0 0 0 / 0.2), 0 5px 5px -1px rgb(0 0 0 / 0.2);
}

.sub-div6 h3 {
  width: 90%;
  margin: auto;
}

.sub-div6 p {
  width: 90%;
  margin: auto;
}

.sub-div7 {
  background-color: rgb(35, 43, 52);
  height: 55vh;
}

.sub-div7:before {
  content: "";
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
  background-repeat: repeat;
  opacity: 0.12;
  position: absolute;
  width: 90%;
  height: 55vh;
  margin: auto;
}

.sub-div8 {
  display: flex;
  width: 70%;
  gap: 5%;
  margin: auto;
}

.projects {
  width: 80%;
  margin: auto;
  color: rgb(255, 121, 74);
}

.sub-div9 {
  background-color: rgb(30, 33, 42);
  box-shadow: 0 5px 5px 0 rgb(0 0 0 / 0.2), 0 5px 5px -1px rgb(0 0 0 / 0.2);
  width: 50%;
  padding: 3%;
}

.sub-div9 h3 {
  width: 90%;
  margin: auto;
  color: rgb(211, 200, 200);
}

.sub-div9 p {
  width: 90%;
  margin: auto;
  color: rgb(211, 200, 200);
}

.main-footer {
  width: 100%;
  margin: auto;
  background-image: url(../assets/images/footerbg.jpg);
  height: 27vh;
}

.sub-footer {
  width: 80%;
  margin: auto;
  padding-top: 2%;
}

.sub-footer1 {
  display: flex;
  gap: 40%;
}

.sub-footer2 {
  color: rgb(211, 200, 200);
}

.btn {
  padding: 30%;
  padding-left: 50%;
  padding-right: 50%;
  background-color: rgb(255, 121, 74);
  border: none;
  border-radius: 7%;
}

.btn a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
}

.btn:hover {
  background-color: rgb(24, 27, 36);
  border: solid 1px;
  border-color: rgb(255, 121, 74);
}

.btn:active {
  background-color: rgb(255, 121, 74);
  opacity: 0.1;
  border: solid 1px;
  border-color: rgb(255, 121, 74);
}

.btn a:hover {
  color: rgb(255, 121, 74);
}

.socials {
  display: flex;
  flex-direction: row;
  padding-top: 5%;
  justify-content: right;
  gap: 3%;
  margin-right: 5%;
}

.footer-img:hover {
  background-color: rgb(255, 121, 74);
}
